Repository Igorxp5/AppLada, pull requests merged in 2019-10, with the labels that each got.

#50 Login page
  webapp/public/index.html
  webapp/src/App.jsx
  webapp/src/animations.js
  webapp/src/api/user.js
  webapp/src/components/fail_popup.jsx
  webapp/src/components/login.jsx
  webapp/src/style/home.css
  webapp/src/style/login.css
  webapp/src/style/popups.css
  webapp/src/views/home.jsx
Labels: web app

#52 Testes do endpoint de login
  api/Gemfile.lock
  api/features/login.feature
  api/features/step_definitions/login.rb
  api/features/support/database_cleaner.rb
  docker-compose-test.yml
Labels: api

#53 [Development] Criar view de cadastro
  webapp/package-lock.json
  webapp/package.json
  webapp/src/api/user.js
  webapp/src/components/cadastro.jsx
  webapp/src/style/cadastro.css
  webapp/src/style/home.css
Labels: web app

#55 Modificação do postmortem Iteração 1
  docs/iteracoes/iteracao1/postmortem.md
Labels: documentation

#48 Rotas Login e Cadastro
  .gitignore
  api/Dockerfile
  api/Gemfile
  api/Gemfile.lock
  api/app/controllers/application_controller.rb
  api/app/controllers/login_controller.rb
  api/app/controllers/main_controller.rb
  api/app/controllers/signup_controller.rb
  api/app/controllers/user_controller.rb
  api/app/lib/error_codes.rb
  api/app/lib/json_web_token.rb
  api/app/models/user.rb
  api/config/application.rb
  api/config/cucumber.yml
  api/config/routes.rb
  api/db/migrate/20190929153005_create_users.rb
  api/db/schema.rb
  api/features/login.feature
  api/features/step_definitions/.gitkeep
  api/features/step_definitions/login.rb
  api/features/support/database_cleaner.rb
  api/features/support/env.rb
  api/lib/tasks/cucumber.rake
  api/script/cucumber
  api/test/controllers/login_controller_test.rb
  api/test/controllers/main_controller_test.rb
  api/test/controllers/signup_controller_test.rb
  api/test/controllers/user_controller_test.rb
  api/test/fixtures/users.yml
  api/test/models/user_test.rb
  docker-compose-development.yml
  docker-compose-test.yml
Labels: api

#56 Url para API e Front
  README.md
Labels: web app

#57 Iteração 1 Correção da Ata de Reunião
  docs/iteracoes/iteracao1/meetings.md
Labels: documentation

#58 Integraçao API Webapp com Docker
  .gitignore
  api/.gitignore
  api/Dockerfile
  api/Gemfile
  api/Gemfile.lock
  api/app/lib/error_codes.rb
  api/app/models/user.rb
  api/config/application.rb
  api/config/credentials.yml.enc
  api/config/environments/development.rb
  api/config/environments/production.rb
  api/config/environments/test.rb
  api/config/initializers/cors.rb
  api/features/cadastro.feature
  api/features/step_definitions/login.rb
  api/features/step_definitions/signup.rb
  api/features/support/database_cleaner.rb
  api/tmp/.keep
  docker-compose-development.yml
  docker-compose.yml
  nginx/default.conf
  run-server.sh
  webapp/Dockerfile
  webapp/package.json
Labels: api, deploy

#59 Acesso as portas do serviço WebApp
  .gitignore
  build-server.sh
  nginx/default.conf
  webapp/Dockerfile
Labels: deploy

#60 Subdomínio para teste
  api/features/step_definitions/login.rb
  api/features/step_definitions/signup.rb
  docker-compose.yml
  nginx/default.conf
Labels: api, deploy

#62 Correção do Readme
  README.md
Labels: documentation

#64 Correção do css dos componentes de login e cadastro
  webapp/package.json
  webapp/public/index.html
  webapp/src/api/user.js
  webapp/src/components/cadastro.jsx
  webapp/src/components/login.jsx
  webapp/src/style/cadastro.css
  webapp/src/style/login.css
Labels: fix

#67 Nova Tela de Login
  docker-compose-test.yml
  docker-compose.yml
  nginx/default.conf
  webapp/Dockerfile
  webapp/public/favicon.ico
  webapp/public/images/background.jpg
  webapp/public/images/icons/icon-google.png
  webapp/public/images/logo-applada.png
  webapp/public/index.html
  webapp/src/App.jsx
  webapp/src/api/errors.js
  webapp/src/api/user.js
  webapp/src/components/EntranceBlock/entrance_button.jsx
  webapp/src/components/EntranceBlock/entrance_input.jsx
  webapp/src/components/EntranceBlock/index.jsx
  webapp/src/components/cadastro.jsx
  webapp/src/components/error_notification.jsx
  webapp/src/components/fail_popup.jsx
  webapp/src/components/login.jsx
  webapp/src/components/notification_center.jsx
  webapp/src/images/home-form-pic.png
  webapp/src/images/home-pic.png
  webapp/src/index.css
  webapp/src/style/cadastro.css
  webapp/src/style/entrance.css
  webapp/src/style/error_notification.css
  webapp/src/style/home.css
  webapp/src/style/login.css
  webapp/src/style/popups.css
  webapp/src/views/dashboard.jsx
  webapp/src/views/home.jsx
  webapp/src/views/login.jsx
  webapp/src/views/page.jsx
  webapp/src/views/signup.jsx
Labels: web app

#68 Nova Tela de Cadastro
  webapp/.gitignore
  webapp/package-lock.json
  webapp/src/components/notification.jsx
  webapp/src/components/notification_center.jsx
  webapp/src/style/error_notification.css
  webapp/src/style/notification.css
  webapp/src/views/login.jsx
  webapp/src/views/signup.jsx
Labels: web app

#70 Consertado Formulário de Cadastro escondido
  webapp/public/index.html
  webapp/src/index.css
  webapp/src/views/signup.jsx
Labels: web app

#83 Postomortem da Iteração 2
  docs/iteracoes/iteracao2/iteracao2.md
Labels: documentation

#82 Teste BDD para a Tela de Login, Cadastro e Recuperação de Senha
  README.md
  docs/features/login.feature
  docs/features/recover_password.feature
  docs/features/signup.feature
  docs/iteracoes.md
  docs/iteracoes/iteracao2/iteracao2.md
Labels: test, web app

#84 Testes Automatizados para a Tela de Login, Cadastro e Recuperação de Senha
  webapp/containerd.io
  webapp/cypress.json
  webapp/cypress/fixtures/example.json
  webapp/cypress/integration/examples/actions.spec.js
  webapp/cypress/integration/examples/aliasing.spec.js
  webapp/cypress/integration/examples/assertions.spec.js
  webapp/cypress/integration/examples/connectors.spec.js
  webapp/cypress/integration/examples/cookies.spec.js
  webapp/cypress/integration/examples/cypress_api.spec.js
  webapp/cypress/integration/examples/files.spec.js
  webapp/cypress/integration/examples/local_storage.spec.js
  webapp/cypress/integration/examples/location.spec.js
  webapp/cypress/integration/examples/misc.spec.js
  webapp/cypress/integration/examples/navigation.spec.js
  webapp/cypress/integration/examples/network_requests.spec.js
  webapp/cypress/integration/examples/querying.spec.js
  webapp/cypress/integration/examples/spies_stubs_clocks.spec.js
  webapp/cypress/integration/examples/traversal.spec.js
  webapp/cypress/integration/examples/utilities.spec.js
  webapp/cypress/integration/examples/viewport.spec.js
  webapp/cypress/integration/examples/waiting.spec.js
  webapp/cypress/integration/examples/window.spec.js
  webapp/cypress/integration/login.spec.js
  webapp/cypress/integration/recover-password.spec.js
  webapp/cypress/integration/signup.spec.js
  webapp/cypress/plugins/index.js
  webapp/cypress/support/commands.js
  webapp/cypress/support/index.js
  webapp/package.json
Labels: test, web app

#88 Testes do End-point users criados
  api/features/step_definitions/users.rb
  api/features/users.feature
Labels: api, test

#89 Criação dos testes do End-point Games
  api/app/lib/error_codes.rb
  api/features/games.feature
  api/features/step_definitions/games.rb
  api/features/step_definitions/users.rb
  api/features/users.feature
Labels: api, test

#91 Testes incluidos para as rotas de Users e Games
  api/app/lib/error_codes.rb
  api/features/games.feature
  api/features/step_definitions/games.rb
  api/features/step_definitions/users.rb
  api/features/users.feature
Labels: api, test

#97 Feature #74 dashboard
  webapp/package.json
  webapp/public/images/user_Avatar.png
  webapp/src/App.jsx
  webapp/src/animations.js
  webapp/src/api/user.js
  webapp/src/components/Jogar/googleMap.jsx
  webapp/src/components/Jogar/index.jsx
  webapp/src/components/Jogar/mapa.jsx
  webapp/src/components/Jogar/peladas.jsx
  webapp/src/components/Jogar/peladasProximas/index.jsx
  webapp/src/components/Jogar/peladasProximas/peladaInfo.jsx
  webapp/src/components/navbar.jsx
  webapp/src/components/notification.jsx
  webapp/src/components/notification_center.jsx
  webapp/src/display.js
  webapp/src/style/dashboard/dashboard.css
  webapp/src/style/dashboard/navbar.css
  webapp/src/style/jogar/mapa.css
  webapp/src/style/jogar/pelada.css
  webapp/src/style/jogar/peladasProximas.css
  webapp/src/style/notification.css
  webapp/src/views/dashboard.jsx
  webapp/src/views/login.jsx
  webapp/src/views/signup.jsx
Labels: web app

#96 Adicionado opção de login via e-mail
  webapp/src/display.js
  webapp/src/style/notification.css
  webapp/src/views/login.jsx
Labels: web app

#98 Postmortem Iteração 3
  docs/iteracoes/iteracao3/iteracao3.md
Labels: documentation

#100 Testes iniciais em Rspec
  api/.rspec
  api/Gemfile
  api/Gemfile.lock
  api/config/environments/test.rb
  api/spec/models/user_spec.rb
  api/spec/rails_helper.rb
  api/spec/spec_helper.rb
Labels: api, test

#101 Iteração 3
  api/.rspec
  api/Gemfile
  api/Gemfile.lock
  api/config/environments/test.rb
  api/spec/models/user_spec.rb
  api/spec/rails_helper.rb
  api/spec/spec_helper.rb
Labels: api

#102 Release 0.0.2
  api/.rspec
  api/Gemfile
  api/Gemfile.lock
  api/app/controllers/application_controller.rb
  api/app/controllers/login_controller.rb
  api/app/controllers/main_controller.rb
  api/app/controllers/registrations_controller.rb
  api/app/controllers/sessions_controller.rb
  api/app/controllers/signup_controller.rb
  api/app/lib/devise_failure_app.rb
  api/app/lib/error_codes.rb
  api/app/lib/json_web_token.rb
  api/app/models/jwt_blacklist.rb
  api/app/models/user.rb
  api/config/application.rb
  api/config/environments/test.rb
  api/config/initializers/devise.rb
  api/config/locales/en.yml
  api/config/routes.rb
  api/db/migrate/20191022024808_create_jwt_blacklist.rb
  api/db/migrate/20191027150959_add_devise_to_users.rb
  api/db/migrate/20191027191839_add_jwt_to_users.rb
  api/db/migrate/20191027193719_add_expiration_time_to_jwt_blacklist.rb
  api/db/schema.rb
  api/spec/models/user_spec.rb
  api/spec/rails_helper.rb
  api/spec/spec_helper.rb
  docker-compose.yml
  docs/iteracoes/iteracao3/iteracao3.md
  docs/modelo_logico_bd.md
  webapp/package.json
  webapp/public/images/user_Avatar.png
  webapp/src/App.jsx
  webapp/src/animations.js
  webapp/src/api/user.js
  webapp/src/components/Jogar/googleMap.jsx
  webapp/src/components/Jogar/index.jsx
  webapp/src/components/Jogar/mapa.jsx
  webapp/src/components/Jogar/peladas.jsx
  webapp/src/components/Jogar/peladasProximas/index.jsx
  webapp/src/components/Jogar/peladasProximas/peladaInfo.jsx
  webapp/src/components/navbar.jsx
  webapp/src/components/notification.jsx
  webapp/src/components/notification_center.jsx
  webapp/src/display.js
  webapp/src/style/dashboard/dashboard.css
  webapp/src/style/dashboard/navbar.css
  webapp/src/style/jogar/mapa.css
  webapp/src/style/jogar/pelada.css
  webapp/src/style/jogar/peladasProximas.css
  webapp/src/style/notification.css
  webapp/src/views/dashboard.jsx
  webapp/src/views/login.jsx
  webapp/src/views/recuperarSenha.jsx
  webapp/src/views/signup.jsx
Labels: release
